*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */

header, footer{
    background-color: rgba(44,62,80,255);
    height: 75px;
}

li{
    font-size: 12px;
}

.line{
    height: 3px;
    width: 100%;
    border-radius: 20px;
}

h1{
    font-size: 45px;
}

.copy{
    font-size: 10px;
}

/* BACKGROUND COLOR */

.bg-aqua{
    background-color: rgba(26,188,156,255);
}

.bg-darkblue{
    background-color: rgba(58,84,109,255);
}
